h1 {
  color: #87ceeb;
  text-align: center;
  
}

h2 {
  text-align: center;
  font-style: italic;
}

p {
  font-family: sans-serif;
  font-weight: 200;
}

ol {
  font-size: 20px;
  line-height: 30px;
}